@using EntityModels
@model ViewModels.BillViewModel
@{
    ViewBag.Title = "Chi tiết hóa đơn";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

<h2>Chi tiết đơn hàng # @Model.MaHoaDon - <b>ĐÃ XÁC NHẬN</b></h2>

<div class="text-right">Ngày mua xe: @Model.NgayLapHoaDon</div>

<div>
    <span class="text-right">
        THÔNG TIN KHÁCH HÀNG
    </span>
    <form style="background-color:white; border-radius:10px; padding:5px; width:25%; color:black; margin-top:5px">
        <p>
            <b>@Model.HoTenKhachHang</b>
        </p>
        <p>@Model.DiaChi</p>
        
    </form>
</div>

<div style="margin-top:30px">
    <p style="margin-bottom:auto">THÔNG TIN XE</p>
    <table class="table table-bordered table-hover" style="background-color:white; border-radius:10px">
        <thead>
            <tr>
                <th style="text-align:center">STT</th>
                <th style="text-align:center">Mã xe</th>
                <th style="text-align:center">Tên xe</th>
                <th style="text-align:center">Tên loại xe</th>
                <th style="text-align:center">Năm sản xuất</th>
                <th style="text-align:center">Gía</th>

                @*<th style="text-align:center">Mã hóa đơn</th>
                    <th style="text-align:center">Ngày lập hóa đơn</th>
                    <th style="text-align:center">Tổng tiền</th>
                    <th style="text-align:center">Mã khách hàng</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DanhSachChiTiet)
            {
                <tr>
                    <td class="text-right">0@(ViewBag.Quantity++)</td>
                    <td class="text-center">@Html.DisplayFor(p => item.MaXe)</td>
                    @*<td>@Html.DisplayFor(p => item.NgayLapHoaDon)</td>
                        <td class="text-left">@Html.DisplayFor(p => item.ThanhToan)</td>
                        <td class="text-center">@Html.DisplayFor(p => item.HoTenKhachHang)</td>
                        <td class="text-center">@Html.DisplayFor(p => item.NgaySinh)</td>
                        <td class="text-center">@Html.DisplayFor(p => item.DiaChi)</td>*@
                    <td class="text-center">@Html.DisplayFor(p => item.TenXe)</td>
                    <td class="text-center">@Html.DisplayFor(p => item.TenLoaiXe)</td>
                    <td class="text-center">@Html.DisplayFor(p => item.NamSanXuat)</td>
                    <td class="text-center">@Html.DisplayFor(p => item.Gia)</td>
                    @*<td class="text-center">@Html.DisplayFor(p => item.NamSanXuat)</td>
                        <td class="text-center">@Html.DisplayFor(p => item.Gia)</td>*@



                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <p class="text-right">Thuế: <a style="color:green; font-size:16px">@ViewBag.Thue VND</a></p>
    <p class="text-right">Tổng hóa đơn: <a style="color:red; font-size:20px">@Model.ThanhToan VND</a></p>
</div>


@*@section scripts
    {
        <script>
        $(document).ready(
            $("#delete").click(function () {
                alert("Bạn chắc chắn xóa?");
                this.attributes("href", "")
            })
        )
        </script>
    }*@



