@model ViewModels.ProductsViewModel

@{
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
    ViewBag.Title = "Thêm sản phẩm";
}

<h2>Thêm xe</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        @*<div class="form-group">
                @Html.LabelFor(model => model.MaKhachHang, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MaKhachHang, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.TenXe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenXe, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.TenLoaiXe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MaLoaiXe,null, htmlAttributes: new { @class = "control-label col-md-2", style="width: 25%; heigh: 50px" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NamSanXuat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NamSanXuat, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Gia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về trang chủ >", "Index")
</div>
